<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1> Welcome, <%= name %> in Admin Home</h1>

	<a href="/Admin_home/Screate">Create Scout</a> |
	<a href="/Admin_home/Gcreate">Create Genera user</a> |
	<a href="/Admin_home/userlist">User list</a> |
	<a href="/logout">logout</a> 

</body>
</html>