<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
	<h1> Userlist</h1>

	<a href="/home">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1">
		<tr>
			<td>infoId</td>
			<td>Information</td>
		</tr>

		<% 
			users.forEach( function(std){ %>
			<tr>
				<td><%= std.infoId %></td>
				<td><%= std.information %></td>
			</tr>
		<%
			}); 
		%>
		
	</table>

</body>
</html>