<!DOCTYPE html>
<html>
<head>
	<title>Edit Information</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Edit Information</legend>
			<table>
				<tr>
					<td>wishlist1</td>
					<td><input type="text" name="wishlist1" value="<%=wishlist1%>"></td>
				</tr>
				<tr>
					<td>wishlist1</td>
					<td><input type="text" name="wishlist2" value="<%=wishlist2%>"></td>
				</tr>
				<tr>
					<td>wishlist1</td>
					<td><input type="text" name="wishlist3" value="<%=wishlist3%>"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>