<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1> Welcome, <%= name %> in General user Home</h1>
    <a href="/Guser_home/post">Public post</a> |
	<a href="/Guser_home/Register">Register</a> | 
	<a href="/logout">logout</a> 

</body>
</html>