<!DOCTYPE html>
<html>
<head>
	<title>Information List</title>
</head>
<body>
	<h1> Information List</h1>

	<a href="/home">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1">
		<tr>
			<td>Country</td>
			<td>General</td>
			<td>Cost</td>
		</tr>

		<% 
			users.forEach( function(std){ %>
			<tr>
				<td><%= std.country %></td>
				<td><%= std.general %></td>
				<td><%= std.cost %></td>
			</tr>
		<%
			}); 
		%>
		
	</table>
</body>
</html>