<!DOCTYPE html>
<html>
<head>
	<title>Public Post</title>
	<script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src = "/assets/js/main.js"></script>
</head>
<body>
	<h1> Public Post</h1>

	<a href="/Guser_home">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<div>
		<select id="searchby">
			<option selected hidden>Searh By</option>
			<option value="country">country</option>
			<option value="general">general</option>
			<option value="cost">cost</option>
			
		</select>
        <input type="text" name="search" id="search" placeholder="Search Place">
    </div>

	<table border="1"  id="table">
		<tr>
			<td>Country</td>
			<td>General</td>
			<td>Cost</td>
			<td>Action</td>
		</tr>

		<% 
			users.forEach( function(std){ %>
			<tr>
				<td><%= std.country %></td>
				<td><%= std.general %></td>
				<td><%= std.cost %></td>
				<td>
					<a href="/Guser_home/comment/<%= std.country %>">Comment</a>
				</td>
			</tr>
		<%
			}); 
		%>
		
	</table>
</body>
</html>