<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1> Welcome, <%= name %> in Scout Home</h1>

	<a href="/Scout_home/updateProfile">updateProfile</a> | 
	<a href="/Scout_home/Place">Insert Place</a> | 
	<a href="/logout">logout</a> 

</body>
</html>