<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1> Welcome, <%= name %> in Scout Home</h1>

	<a href="/user/create">Create User</a> | 
	<a href="/Admin_home/userlist">User list</a> | 
	<a href="/logout">logout</a> 

</body>
</html>