<!DOCTYPE html>
<html>
<head>
	<title>Create </title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Create</legend>
			<table>
				<tr>
					<td>Country</td>
					<td><input type="text" name="country" ></td>
				</tr>
				<tr>
					<td>General</td>
					<td><input type="text" name="general" ></td>
				</tr>
				<tr>
					<td>Cost</td>
					<td><input type="text" name="cost" ></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>